<form action="/addSuperhero" method="POST">
  <h2>Create superhero</h2>

  <div class="input-field">

    <input type="text" name="nickname">
    <label>nickname</label>

    <input type="text" name="real_name">
    <label>real_name</label>

    <input type="text" name="origin_description">
    <label>origin_description</label>

    <input type="text" name="superpowers">
    <label>superpowers</label>

    <input type="text" name="catch_phrase">
    <label>catch_phrase</label>

    <input type="file" name="images" multiple>
    <label>images</label>
  </div>

  <button type="submit" class="btn">Add superhero</button>
</form>